body {
    display: flex;
    background-color: black;
}

td {
    padding: 10px;
    background-color: rgba(128,128,128,.25);
}

#leftSide {
    width: 60%;
    flex: 0 0 auto;
    margin-right: 10px;
}

#rightSide {
    width: 40%;    
}

#photo {
    width: 100%;    
}

.controls {
    margin-top: 5px;
    display: flex;
}

.controls * {
    font-size: 20px;
    color: antiquewhite;
    background-color: black;
    border-color: #333333;
}

.controls button {
    border: 1px solid #333333;
}

#info, #spouse, td {
    font-size: x-large;
    color: antiquewhite;
}

h1 {
    color: antiquewhite;
}

#media {
    padding-left: 15px;
}

#maps {
    padding-top: 15px;
}

a {
  color: #007bff; /* Unclicked color */
}

a:visited {
  color: #aa77dd; /* Clicked color */
}