body {
    background-color: black;
    color: white;
}

html, body {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    overflow: hidden;
}

th, td {
    text-align: left;
    padding-right: 10px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: x-large;
    color: antiquewhite;
}

.highlight {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.media {
    color: yellow;
    cursor: pointer;
}

#container {
    display: flex;
    height: 100%;
}

#mainTable {
    overflow-y: auto;
    flex: 0 0 auto;
}

#mainTable th {
    cursor: pointer;
    font-size: x-large;
    color: antiquewhite;
}

#mainTable table td:first-child {
    text-align: right;
}

#infoTable {
    margin-left: -5px;
}

#infoTable th, #infoTable td {
    font-size: x-large;
    color: antiquewhite;
}

#images {
    display: flex;
    overflow-y: auto;
}

#portrait {
    display: contents;
}

#portrait img {
    max-width: 50%;
    max-height: fit-content;
}

#maps {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#maps img {
    width: 100%;
}

#maps img:not(:first-of-type) {
    padding-top: 10px;
}

#info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#version {
    position: absolute;
    padding-right: 10px;
    top: 5px;
    right: 5px;
    font-size: small;
    color: bisque;
}
